*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hwb(207 0% 0% / 0.589);
     max-width: 1250px;
     min-width: 1000px;
    }
    header{
        width: 400px;
        height: 400px;
        background: #fff;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
       transform: translate(-50%,-50%);
      border: 1px solid aqua;
      border-radius: 23px;

    }
    div{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       font-weight: bolder;
       font-size: 20px;
       color: chartreuse;
    }
    button{
        padding: 20px;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 20px;
        border: 1px solid aqua;
        border-radius: 23px;
        font-size: 20px;

    }
    button:hover{
        background-color: darkcyan;
        cursor: pointer;
    }