body{
    background-color: rgba(0, 0, 255, 0.541);
}
h1{
    color: aqua;
    font-weight: bold;
    font-size: 42px;
}


h1:hover{
    text-decoration: underline;
}
h1:visited{
    color: yellow;}
h2{
    color: aqua;
    font-weight: bold;
    font-size: 33px;
}
li{
    list-style: none;
}
li:hover{
    text-decoration: underline;
}