body{
    background-color: aquamarine;
    font: normal 15pt arial;
}
header{
    text-align: center;
    color: #fff;
    font-style: italic;
}
input{
    background-color: #fff;
    padding: 15px;
    width: 200px;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    left: 30%;
    top: 30%;
}
footer{
    text-align: center;
    color: #fff;
    font: 15pt italic;
}