a:hover{
    transform: translateX(5px) translateY(5px);
    box-shadow:  #8B80F9 7PX 9PX 0PX;
 

}
a{
  background-color: black;
    padding: 20px;
    cursor: pointer;
    font-size: 32px;
    color:#8B80F9;
    border: 2px solid #8B80F9;
    border-radius: 230px #8B80F9 ;
    font-weight: 900;
}
body{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
  background-color: black;
}